/* 검색창  */
#searchImg {
    opacity: 0;
    /* max-height: 0; */
    /* overflow: hidden; */
    transition: opacity 0.5s ease, max-height 0.5s ease, transform 0.5s ease;
    display: none;
    /* position: absolute; */
    z-index: 11;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7) ;
}
/* show 클래스를 추가할 때의 스타일 */
#searchImg.show {
    display: block;
    opacity: 1; /*불투명 상태 */
    transform: translateY(0); /* 애니메이션 적용 위치 설정 */
    /* max-height: 1000px; 최대 높이 설정 (필요에 따라 조정) */
}
/* hide 클래스가 추가될 때 */
#searchImg.hide {
    opacity: 0; /* 사라지도록 설정 */
    transform: translateY(-100%); /* 애니메이션으로 위로 이동 */
}
.searchSize {
    /* border: 1px solid white; */
    width: 860px;          
    height: 500px;  
    margin: 200px auto;
}
.searchClose{
    /* border: 1px solid salmon; */
    width: 750px;
    overflow: hidden;
    margin-bottom: 100px;
}
.searchClose>img {
    float: right;
    transition: transform 0.5s;
}
.searchClose>img:hover {
    transform:rotate(90deg);
}
.searchInput{
    width: 860px;
    /* border: 1px solid aliceblue; */
    position: relative;
}
.searchInput>input{
    width: 860px;
    height: 60px;
    background: none;
    border: none;
    border-bottom: 3px solid #eee;
    font-size: 25px;
    color: white;
    padding: 2px 4px 2px 15px;
}
.inputImg {
    top: 10px;
    right: 0;
    position: absolute;
}
input::placeholder {color:#eee;}
input:focus {outline: none;} /* outline 테두리 없애기 */
.inputImg>a>img {
    width: 35px;
    height: 35px;
}
.searchFav{
    padding: 40px 20px;
    overflow: hidden;
    width: 860px;
    /* border: 1px solid salmon; */
}
.searchFav>p {
    float: left;
    margin: 0 30px 0 0;
    color: #eee;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
.searchFav>div>a {
    margin: 0 5px;
    text-align: center;
    line-height: 30px;
    float: left;
    border: 3px solid #eee;
    color: #eee;
    font-size: 13px;
    padding: 0 18px;
    border-radius: 10px;
}
.searchFav>div>a:hover {
    background-color: white;
    color: #555;
    transition: 0.5s;
}